#header #menu ul.nav li.cat-item { width:135px; text-align:center; line-height:16px; }
#header #menu ul.nav li.cat-item ul { position: absolute; top: 2.7em; left: 0; width:12em; z-index:1000 }
#header #menu { padding-top: 19px; }

#leadin { margin-right: 56px; }

#youtube { width:505px; height:440px;  }
#youtube .tubehead { height:20px; }
#youtube p {  }

#contentwide { height:auto; padding-bottom:5px; }
#footer .searchcontainer table { float:right; }
#container.home #contentwide { padding-bottom:65px; }

#menu { position:absolute; z-index:3000 }
#menu > ul { position:absolute; z-index:1000 top:0; left:0; }
/* superfish override */
.nav a { width:100px; }

#slideshow { z-index:-1000; position:absolute; }
#social {top: 0px;}
.headmeta {border-bottom: 0px; padding-top: 10px;}