/* Borders */
#container{border:0 solid #cccccc}
.wufoo .info{visibility:hidden; height:1px; margin:0px; padding:0px;}
.wufoo .info ul li {margin:0px; padding:0px 5px;}
.wufoo li.focused {background-color: #CFE3B2;}
.buttons {text-align:center;}